body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #6a0dad;
  background-image: url('https://res.cloudinary.com/bigbossberry/image/upload/v1729685861/fonde3_jmmv3d.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 100vh;
  position: relative;
}

body::before {
  content: "";
  position: fixed; /* Cambiado a fixed para cubrir toda la ventana */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 1;
}

* {
  position: relative;
  z-index: 2;
}


nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #007bff;
}

nav ul li a:hover {
  text-decoration: underline;
}


.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.inputs {
  margin-bottom: 20px;
}

.inputs input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
